[flake8]
max-line-length = 120
extend-ignore = E203, W503
exclude = .git, __pycache__, .venv, venv, build, dist, alembic/versions, streamlit_hive_login/frontend
max-complexity = 10
count = True
per-file-ignores =
    tests/*: S101
